@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.footer-2-1 .list-space {
	margin-bottom: 3.3rem;
	color: #ffffff;
}

.footer-2-1 .footer-memorable {
	font-size: 18px;
	margin-right: 11rem;
	line-height: 1.5rem;
	font-weight: bold;
	color: #ffffff;
}

.footer-2-1 .footer-text-title {
	font: 600 1.5rem Poppins, sans-serif;
	margin-bottom: 1.5rem;
}

.footer-2-1 .list-menu {
	color: #ffffff;
	text-decoration: none !important;
	margin-bottom: 3.3rem;
}

.footer-2-1 .menu-caption {
	color: #ffffff;
	text-decoration: none !important;
	margin-bottom: 1.25rem;
}

.footer-2-1 hr.hr {
	margin: 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-2-1 .border-color {
	color: #c7c7c7;
}

.footer-2-1 .footer-link {
	color: #c7c7c7;
}

.footer-2-1 .footer-link:hover {
	color: #555252;
}

.footer-2-1 .social-media-c:hover circle,
.footer-2-1 .social-media-p:hover path {
	fill: #555252;
}

.footer-2-1 .footer-info-space {
	padding-top: 3rem;
}

.footer-2-1 .list-footer {
	padding: 5rem 1rem 3rem 1rem;
}

.footer-2-1 .info-footer {
	padding: 0 1rem 3rem;
}

@media (min-width: 576px) {
	.footer-2-1 .list-footer {
		padding: 5rem 2rem 3rem 2rem;
	}

	.footer-2-1 .info-footer {
		padding: 0 2rem 3rem;
	}
}

@media (min-width: 768px) {
	.footer-2-1 .list-footer {
		padding: 5rem 4rem 2rem 4rem;
	}

	.footer-2-1 .info-footer {
		padding: 0 4rem 3rem;
	}
}

@media (min-width: 992px) {
	.footer-2-1 .list-footer {
		padding: 5rem 6rem 2rem 6rem;
	}

	.footer-2-1 .info-footer {
		padding: 0 6rem 3rem;
	}
}

.get-in-touch {
	max-width: 800px;
	margin: 50px auto;
	position: relative;
}

.contact-form .form-field {
	position: relative;
	margin: 32px 0;
}
.contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: #ffffff;
	background-color: #2a2a2a;
	color: #ffffff;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}

.contact-form .form-control {
	width: 100%;
	height: 5rem;
	border-width: 0 0 2px 0;
	border-color: #ffffff;
	background-color: #2a2a2a;
	color: #ffffff;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}

input:focus {
	outline: none !important;
}

textarea:focus {
	outline: none !important;
}

.contact-form .label {
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 200;
	color: #ffffff;
	cursor: text;
	/* transition: -webkit-transform 0.2s ease-in-out;
transition: transform 0.2s ease-in-out;
transition: transform 0.2s ease-in-out,
-webkit-transform 0.2s ease-in-out; */
}
.contact-form .submit-btn {
	font: 600 18px / normal Poppins, sans-serif;
	background-color: #ffcc4d;
	border-radius: 12px;
	padding: 12px 32px;
	transition: 0.3s;
}

.contact-form .submit-btn:hover {
	--tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	transition: 0.3s;
}
